body {
    margin: 0;
    padding: 0;
    display: flex;
}

.first-class {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height: ;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}